{% extends "base.html" %}

{% block body %}
    {% for book in books %}
		<div id="article">
			<h1>{{ book.title }}</h1>
			<div class="info">
            	<span class="meat_span">{{ book.author }}</span>
			</div>
			<div class="text">
                <p>{{ book.type }}</p>
			</div>
		</div>
    {% endfor %}
{% endblock %}

{% block categories %}
    <ul>
    {% for label in labels %}
	    <li class="cat-item cat-item-29"><a href="/label/{{ label }}">{{ label }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}

{% block recent %}
    <ul>
    {% for recent in recents %}
	    <li><a href="/blog/{{ recent.id }}">{{ recent.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
