{% extends "base.html" %}

{% block body %}
	<div id="article">
		<div class="text">
            {% autoescape off %}
                {{ page.message }}
            {% endautoescape %}
        </div>
	</div>
{% endblock %}

{% block categories %}
    <ul>
    {% for label in labels %}
	    <li class="cat-item cat-item-29"><a href="/label/{{ label }}">{{ label }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}

{% block recent %}
    <ul>
    {% for recent in recents %}
	    <li><a href="/blog/{{ recent.id }}">{{ recent.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
