{% extends "base.html" %}

{% block body %}
    {% for word in words %}
		<div class="post_list">
			<h2><a href="/words/{{ word.id }}">{{ word.date }}</a></h2>
			<div class="excerpt">{{ word.message }}...
			<span class="more">[<a href="/words/{{ word.date }}" rel="bookmark">展开
                </a>]</span>
			</div>
		</div>
    {% endfor %}
{% endblock %}

{% block categories %}
    <ul>
    {% for label in labels %}
	    <li class="cat-item cat-item-29"><a href="/label/{{ label }}">{{ label }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}

{% block recent %}
    <ul>
    {% for recent in recents %}
	    <li><a href="/blog/{{ recent.id }}">{{ recent.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
